{% extends 'base.html'  %}
{% block title %}Add User Form{% endblock %}

{% block content %}

<h1>Create a User</h1>

<form method="POST">
    
    <p>
        <label for="first_name" class="form-label">First Name</label>
        <input id="first_name" type="text" class="form-control" name="first_name" required>
    </p>

    <p>
        <label for="last_name" class="form-label">Last Name</label>
        <input id="last_name" type="text" class="form-control" name="last_name" required>
    </p>

    <p>
        <label for="img_url" class="form-label">Image URL</label>
        <input id="img_url" type="text" class="form-control" name="img_url">
    </p>
    
    
    <button class="btn btn-success">Add</button>
    <a href="/users"><button type="button" class="btn btn-secondary">Go Back</button></a>

</form>


{% endblock %}