{% extends 'base.html'  %}
{% block title %}User's Post Detail Page{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>

<p>{{ post.content }}</p>

<p>By <a href="/users/{{ post.user_id }}">{{ post.user.full_name }}</a></p>

<form>
    <button class="btn btn-secondary"
            formaction="/users/{{ post.user_id }}"
            formmethod="GET">Cancel</button>

    <button class="btn btn-primary"
            formaction="/posts/{{ post.id }}/edit"
            formmethod="GET">Edit
    </button>

    <button class="btn btn-danger"
            formaction="/posts/{{ post.id }}/delete"
            formmethod="POST">Delete
    </button>
</form>


{% endblock %}