{% extends 'base.html'  %}
{% block title %}Edit Post Page{% endblock %}

{% block content %}

<form method="POST">
    <h1>Edit Post</h1>
    
    <p>
        <label for="title" class="form-label">Title</label>
        <input id="title" type="text" class="form-control" name="title" value={{ post.title }} required>
    </p>

    <p>
        <label for="content" class="form-label">Post Content</label>
        <textarea id="content" class="form-control" name="content" rows="5" required>{{ post.content }}</textarea>
    </p>

    <p>
        {% for tag in tags %}
        <input type="checkbox" value="{{ tag.id }}" id="{{ tag.id }}" 
        {% if tag in post.tags %}checked{% endif %} 
        name="tags">
        <label class="form-check-label" for="{{ tag.id }}">{{ tag.name }} </label>
        {% endfor %}
    </p>

    
    
    <a href="/posts/{{ post.id }}"><button type="button" class="btn btn-secondary">Cancel</button></a>
    <button class="btn btn-success">Edit</button>

</form>




{% endblock %}